<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header text-center">
               <strong>Ingresa a tu cuenta</strong>
            </div>
            <div class="card-body">
                <form (submit)="signIn()">
                    <div class="form-group">
                        <div class="form-group">
                            <input type="text" [(ngModel)]="user.rut" name="rut" class=form-control
                                placeholder="rut" requierd autofocus>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="password" [(ngModel)]="user.password" name="contraseña" class=form-control
                            placeholder="password" requierd>
                    </div>

                    <button type="submit" class="btn btn-primary btn-block">
                        <strong>Ingresar</strong>
                    </button>
                </form>
            </div>
        </div>
        <div class="div mt-3">
            <p class="text-center" *ngIf="messageError">{{this.messageError}}</p>
        </div>
    </div>
</div>